.container{
   
}
section{
    margin-bottom: 50px;
}
main{
    margin-bottom: 100px;
}
.header-text h1{
    font-size: 50px;
    font-weight:800 ;
}
.header-text h6{
    color: gray;
}
.h1color1{
    color: #363958;
    
}
.h1color2{
    color:#76C27E;
}

.top-banner{
    background-color: #FFFFF4;
    height: 750px;
}
.navbar-nav{
    margin-left: auto;
}
.half-width{
    width: 40%;
    margin-left: 1%;
    padding-left: 1%;
    float: left;
    
}
.buy-now-button{
    background-color: #2A1E59;
    color: #FFF;
    border: none;
    padding: 14px 30px;
    border-radius: 5px;
}
.icon-fix{
    width: 25px;
}

.boxshadow{
    box-shadow: 2px 2px 10px rgb(233, 227, 227);
    border-radius: 10px;
    width: 500px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.card-update{
    border: none;
    text-align: start;
    padding-left: 10px;

}
.card-img{
    background-color: rgb(236, 235, 235);
    border-radius: 10px;
    width: 70%;
    border: 3px solid red;
}
