.container {
   
}
section{
    margin-bottom: 50px;
}
main{
    margin-bottom: 100px;
}
.header-text h1{
    font-size: 50px;
    font-weight:800 ;
}
.header-text h6{
    color: gray;
}
.h1color1{
    color: #363958;
    
}
.h1color2{
    color:#76C27E;
}

.top-banner{
    background-color: #FFFFF4;
    height: 750px;
}
.navbar-nav{
    margin-left: auto;
}
.half-width{
    width: 40%;
    margin-left: 1%;
    padding-left: 1%;
    float: left;
    
}
.buy-now-button{
    background-color: #2A1E59;
    color: #FFF;
    border: none;
    padding: 14px 30px;
    border-radius: 5px;
}
.icon-fix{
    width: 25px;
}

.boxshadow{
    box-shadow: 2px 2px 10px rgb(233, 227, 227);
    border-radius: 10px;
    width: 500px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.card-update{
    border: none;
    text-align: start;
    padding-left: 10px;

}
.card-img{
        width: 60%;
  
}
.image-background-shadow{
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    height: 300px;
}
.card{
    
    box-shadow: 1px 1px 5px  rgb(240, 238, 238);
    padding: 20px;

}
.card-body{
    width: auto;
}
.card-title{
    font-weight: 700;
}

.card-footer{
    border: none;
    width: 100%;
    background-color: #FFF;
}
.card-footer h2 {
    color: #76C27E;
    font-weight: 700;
}
.bottomspace{
    margin-bottom: 50px;
    color: #363958;
    font-weight: 700;
}
.subscribe-banner{
    background-color:#FFFFF4 ;
    height: 300px;
}
footer{
    text-align: center;
    color: gray;
}

